.container {
    min-height: 100vh;
    /* padding: 0 0.5rem; */
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
.topdiv{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 10px;
    @media screen and (max-width: 900px){
        display: block;
      }

}
.price{
    padding-top: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}
.maindiv{
    border-radius: 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 0;
    border: 2px solid #e5e7eb;
    @media screen and (max-width: 900px){
        margin-top: 10px;
        margin-bottom: 10px;
      }
}
.maindiv:hover{
    transform: scale(1.03);
    transition: 0.2s;
    border: 2px solid rgb(167, 166, 166);
    cursor: pointer;
}