@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@500&family=Poppins&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
    font-weight: bold;
}
.nav ul{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.nav ul li{
    margin: 10px;
}
.navbutton{
    background-color: #FF6C09;
    padding-left:18px;
    padding-right: 18px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-right: 3.5rem;
}
.searchinputs{
    margin-left: 1rem;
    margin-right: 5rem;
    align-items: center;
}
.dropmaindiv{
    display: flex;
}
.dropdown label{
    color: white;
}
.inputs::placeholder{
    color: #FF6C09;
    font-weight: bold;
    padding-left: 5px;
}
.inputs{
    background-color: #ffe3d1;
    color: #FF6C09;
    padding-left: 5px;
    border-radius: 5px;
    width: 90%;
}
.dropdownbutton{
    align-items: center;
    background-color: white;
    color: #FF6C09;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    cursor: pointer;
}
.dropdownbutton button{
    padding-top: 5px;
    font-size: 20px;
}
.sortdiv{
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding-left: 1.5rem;
}
.buttons{
    color: #FF6C09;
    background-color: white;
    border: 1px solid #FF6C09;
    border-radius: 5px;
    padding: 3px 10px;
    font-weight: bold;
    margin-left: 1rem;
}
.buttons:hover{
    background-color: #ffe3d1;
    border: none;
}
.matchdiv{
    display: flex;
    padding: 10px 33px;
    align-items: center;
}
.matchp{
    display: flex;
    align-items: center;
    color: #FF6C09;
}
.filtermaindiv{
    background-color: white;
    width: 22%;
    border-radius: 10px;
    margin-left: 2rem;
}
.filterdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid grey;
}
.popfdiv{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.popinput{
    border-radius: 0px;
    margin-right: 5px;
}
.poplabel{
    font-size: 15px;
}
.ratebutton{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: 1px solid grey; */
    border-radius: 5px;
    padding: 2px 4px;
}
.ratingstar{
    color: rgb(128, 128, 128);
    font-size: 20px;
    margin-left: 4px;
}
.ratingdiv{
    display: flex;
    margin-left: 15%;
    margin-top: 0.5rem;
    font-weight: bold;
    color: #ff6c09;
    font-size: 12px;
    width: 50%;
    align-items: center;
}
.rating{
    background-color: #FF6C09;
    border-radius: 10px;
    padding: 2px 12px;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    font-weight: 400;
    color: white;
}
.smallcrousel{
    display: flex;
    flex-direction: row;
}
.hotelimagediv{
    position: relative;
    margin: 2rem;
}
.hotelimagediv p{
    background-color: #FF1818;
    font-weight: 600;
    width: 40%;
    position: absolute;
    top:0%;
    left: 0px ;
    z-index: 1000;
    padding-left: 5px;
    color: white;
}
.hoteldata{
    width: 50%;
}
.hoteladdress{
    display: flex;
    align-items: center;
}
.hotelname{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}
.starimg{
    display: flex;
    margin-bottom: 5px;
}
.cutprice{
    background-color: red;
    width: 75px;
    height: 1.5px;
    margin-top: 2px;
    transform: rotate(-10deg);
    position: absolute;
    top: 12px;
}
.pricesdiv{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    padding: 7px 2rem;
    cursor: pointer;
    text-align: center;
}
.pricesdiv:hover{
    background-color: rgb(202, 202, 202);
}
