.slider {
    position: relative;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: 35rem;
  }
  
  .rightarrow {
    position: absolute;
    top: 46%;
    right: 32px;
    font-size: 4rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.314);
    border-radius: 50%;
    padding: 10px;
  }
  
  .leftarrow {
    position: absolute;
    top: 46%;
    left: 32px;
    font-size: 4rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.314);
    border-radius: 50%;
    padding: 10px;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }