.topdiv{
    padding-left: 20px;
    padding-right: 20px;
    height: 85px;
    background-color: #2243b6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    @media screen and (max-width: 1200px) {
        width: 100%;
        margin: auto;
    }
}
.para{
    padding: 4rem;
    @media screen and (max-width: 1200px) {
    padding: 15px;
    margin: 0;
    }
}

.formdiv{
    width: 24%;
    margin: auto;
    padding-top: 2rem;
    max-width: 500px;
    @media screen and (max-width: 1200px) {
        width: 90%;
        margin: auto;
    }
}
.nextbutton{
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    color: white;
    font-weight: bold; 
    font-size: 15px;
    background-color: rgb(255, 75, 75);
}
.nextbutton:hover {
    background-color: rgb(255, 46, 46);
}
.createbutton{
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 75, 75);
    width: 100%;
    border: 1px solid rgb(255, 75, 75);
    border-radius: 5px;
    font-size: 17px;
}
.createbutton:hover{
    background-color: rgb(255, 75, 75);
    color: white;
}
.highlighttext{
    color: rgb(255, 75, 75);
}