.navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logolinks {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-right: 4rem;
    cursor: pointer;
  }
  .navlinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navlinks li {
    margin-right: 20px;
  }
  .navlinks a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: black;
  }
  .hoverprofile {
    background-color: #ff6803;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 15.88px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .ellipse {
    position: relative;
    background-color: #ffffff;
    color: #ff6803;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-right: 1.5rem;
    justify-content: center;
    display: flex;
  }
  .ellipse p {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
  }
  .hiuser {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 1.5rem;
  }
  .dropdown {
    position: absolute;
    background-color: white;
    top: 150px;
    border-radius: 12px;
    padding: 1rem;
  }
  .dr1 {
    display: flex;
    align-items: center;
    margin: 1vh 0;
  }
  .ellipsedr {
    position: relative;
    background-color: #ff6803;
    color: white;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-right: 1.5rem;
    justify-content: center;
    display: flex;
  }
  .ellipsedr p {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
  }
  .drUN {
    font-size: 25px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff6803;
  }
  .drUP {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2243b6;
  }
  .dr21 {
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #4e4e4e;
  }
  .dr22 {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #787878;
  }
  .dr32 {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #4e4e4e;
  }